@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR';
}
html, body {
    height: 100%;
    width: 100%;
}
.flex-container {
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}

.header {    
    position: relative;
    width: 100%;
    height: 180px;
    margin: 0 auto;
}

/* 배경 */
#backTop {
    position: absolute;
    z-index: -100;
}
#backBottom{
    position: absolute;
    bottom: 0;
    right: 0;
}

/* 로그인, 회원가입, 마이페이지 */
#userMenu {
    width: 100%;
    margin: 0 auto;
}
#userMenu .list_menu {
    float: right;
}
#userMenu * {
    font-weight: 400;
    font-size: 12px;
    /* letter-spacing: 0.1em; */
    color: #414141;
}
ul {
    display: block;
    margin-block-start: 10px;
    margin-block-end: 10px;
    /* padding-inline-start: 20px; */
}

#userMenu .menu {
    position: relative;
    float: left;
    z-index: 400;
    margin-right: 15px;
}

#userMenu:after{
    content: "";
    display: block;
    overflow: hidden;
    width: 100%;
    height: 15px;
    font-size: 0;
    text-indent: -9999px;
}

/* 로고 헤더 */
#headerLogo .logo img {
    display: block;
    width: 70px;
    margin: 0 auto;
    /* margin-left: 80px; */
}

/* container */
#wrapper .container {
    /* min-height: 300vh; */
    width: 430px;
    margin: 70px auto;
    margin-bottom: 100px;
}

footer .container {
    /* min-height: 300vh; */
    width: 970px;
    margin: 30px auto;
    padding: 0 65px;
}
/*==========================================================*/
.container {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 28%;
    height: auto;
}

.loginForm{
    box-sizing: border-box;
    padding: 30px 30px 0 30px;

    height: auto;
    background: #FFFFFF;
    border: solid 2px #dadada;
    border-bottom: 0;
}

/* logo*/
.loginLogo{
    text-align: center;
    font-weight: 500;
    font-size: 20px;

    padding-top: 35px;
    padding-bottom: 15px;
    line-height: 50px;

    color: #414141;
}

/* 입력 폼 스타일 */
.box {
    display: block;
    width: 350px;
    height: 40px;
    border-bottom: solid 1.5px #dadada;
    padding: 10px 10px 10px 10px;
    margin-top: 25px;
    background: #fff;
    position: relative;
}

.int {
    width: 100%;
    border: none;
    background: #fff;
    font-size: 13px;
}

/* 회원가입, 아이디, 비번 찾기*/
.findinfo{
    text-align: center;
    padding: 2em;
    font-size: 0.8em;
}
.signUPTxt {
    color: #919191;
    padding-right: 1em;
    border-right: solid 1.8px #919191;
}
.findId{
    color: #919191;
    padding-right: 1em;
    padding-left: 1em;
    border-right: solid 1.8px #919191;
}
.findPwd{
    color: #919191;
    padding-left: 1em;
}

/* 소셜 로그인 */
.socialLoginTxt2{
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 70px;
    color: #414141;
}

.socialLogin{
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.social-item {
    font-size: 20px;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px;
}

.social-item:hover {
    color: #fff;
    background-color: #333333;
}

.bg1 {background-color: #fae100;}
.bg2 {background-color: #5EA152}
.bg3 {background-color: #3b5998}

.iconImg1 {
    width: 0.8em;
    height: 0.8em;
}
.iconImg2 {
    width: 0.8em;
    height: 0.8em;
}
.iconImg3 {
    width: 0.55em;
    height: 0.8em;
}

/* 버튼 스타일 */
.btn_area {
    margin: 30px 0 91px;
}

#btnJoin {
    background: linear-gradient(91.36deg, #4E7FF2 -24.31%, #9CC2FF 130.3%);
    box-shadow: 0px -10px 40px rgba(156, 194, 255, 0.3);
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 20px;

    width: 430px;
    padding: 15px 0;
    cursor: pointer;
    margin: 20px 0 0 -31px;
}