@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR';
}

html, body {
    height: 100%;
    width: 100%;
    
}

a{
    text-decoration: none;
}

ul,li{
    list-style: none;
}

/* 배경 */
#backTop {
    position: absolute;
    width: 50%;
    height: 80%;
}

/* 헤더 */
.header {
    width: 100%;
    height: 1500px;
    background: url("../image/mainTopBack.png") no-repeat;
    background-size: 100%;
}

.headerContainer{
    position: relative;
    width: 1130px;
    height: 250px;
    margin: 0 auto;
}
#moa {
    position: absolute;
    width: 10%;
    left: 60px;
    top: 30px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 550;
    font-size: 3em;
    line-height: 102px;

    color: #B8ABFC;
}


/* 메뉴 */
#userMenu {
    margin: 0 auto;
    
}
#userMenu .list_menu {
    float: right;
    line-height: 5.313em;
    white-space: nowrap;
}
#userMenu * {
    font-weight: 500;
    letter-spacing: 0.1em;
    height: 1em;
    color: #414141;
}

#userMenu .menu {
    position: relative;
    float: left;
    margin-right: 1em;
}

#userMenu a {
    font-size: 1em;
}

.link_login {
    padding-right: 1em;
    border-right: 1.5px solid #414141;
}
.link_join {
    padding-right: 1em;
    border-right: 1.5px solid #414141;
}
/*아이콘*/
#iconMenu{
    margin: 0 auto;
}

#iconMenu .list_icon{
    float: right;
}

#iconMenu *{
    font-weight: 500;
    height: 1em;
    padding: 0;
}
#iconMenu .icon{
    position: relative;
    float: left;
    margin-right: 1.5em;
}

#iconMenu .icon_search{
    width: 2em;
    height: 2em;
    top: 5em;
    left: 166%;
    background: url("../image/searchIcon.png") no-repeat;
    background-size: 1.4em 1.4em;
}
#iconMenu .icon_user{
    width: 2em;
    height: 2em;
    top: 5em;
    left: 166%;
    background: url("../image/userIcon.png") no-repeat;
    background-size: 1.3em 1.4em;
}
#iconMenu .sideMenu{
    width: 2em;
    height: 1.8em;
    top: 5em;
    left: 165%;
    background: url("../image/menuIcon.png") no-repeat;
    background-size: 1.2em 1.2em;
}
/*footer*/
footer {
    background-color: #B8ABFC;
    color: white;
    padding-bottom: 2em;
    padding-top: 2em;
    height: 226.302;
    position: relative;
    /* margin-top: -226.302;*/
    /* transform: translateY(-100%); */
}

#wrapper {
    height: auto;
    min-height: 150%;
    padding-bottom: 226.302;
}
footer a {
    color: white;
    text-decoration: none;
    font-size: 1.125em;
    font-weight: 600;
}

#footer_MoA {
    font-family: 'Montserrat';
    font-size: 2.625em;
    margin: 0;
    font-weight: 600;
}

#tel {
    font-size: 2.250em;
    font-weight: 600;
}

footer .footerContainer {
    padding-left: 15%;
    /* padding-right: 10%; */
}

footer ul {
    padding-inline-start: 40px;
}

footer td:nth-child(2) {
    text-align: right;
    font-size: 0.875em;
}

footer td p {
    padding-bottom: 0.3em;
}

#info {
    padding-bottom: 2em;
    padding-top: 2em;
}
/*==========================================================*/
/* main1 */
#main1 {
    position: relative;
    box-sizing: border-box;
    padding: 5%;
    padding-bottom: 7%;
    margin-bottom: 5%;
    width: 70%;
    top: 15%;
    left: 15%;
    
    background: #FFFFFF;
    border: 2.5px solid #909090;
}

.one-container1 {
    display: flex;
    justify-content : space-between;
    align-items: flex-end;
}

#title1 {
    top: 5%;
    font-size: 1.7em;
    font-weight: bold;
}

.two-container1 {
    margin-top: 4%;
    display: flex;
    justify-content: flex-start;
    font-size: 1em;
    font-weight: 700;
    font-weight: bold;
    color: #6C6C6C;
}

#count1 {
    border-right: 0.1em solid #6C6C6C;
    padding-right: 1em;
}

#type1 {
    padding-left: 1em;
}

.three-container1{
    margin-right: 8%;
    margin-top: -8%;
    display: flex;
    justify-content:right;
}

#point1 {
    font-size: 2.3em;
    color: #B8ABFC;
}
/*==================================*/

.container {
    width: 100%;
}

.banner{
    width: 100%;
    height: 700px;
    left: 0px;
    top: 800px;

    background: #FFFFFF;
    box-shadow: 0px 0px 100px rgba(184, 171, 252, 0.1);
}
#subMenu{
    margin-bottom: 8em;
}
.subTitle{
    position: relative;
    left: 15%;

    font-weight: 700;
    font-size: 3em;
    line-height: 1em;
    color: #000000;
}

/*인기 있는 설문조사*/
.firstContainer{
    width: 100%;
    height: 1500px;
    background: url("../image/mainLastBack.png") no-repeat;
    background-position: right center;
    background-size: 100%;
}
.firstContent{
    float: center;
    margin-left: 3em;
    margin-right: 3em;
}
/* 전체 설문 보기 */
.clickAllList {
    position: relative;
    float: right;
    right: 15%;
    text-decoration: none;

    font-size:2em;
    padding-right: 2em;
    background: url(../image/listTab.png) no-repeat;
    background-position: right center;
    background-size: 0.6em 0.9em;
    color: #000000;
}

/*참여를 기다리고 있는 설문조사*/
.secondContainer{
    width: 100%;
    height: 1500px;
    background: url("../image/mainThirdBack.png") no-repeat;
    background-size: 100%;
}