@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR';
}

html, body {
    height: 100%;
    width: 100%;
    
}

a {
    text-decoration: none;
}
ul,li{
    list-style: none;
}

/* #wrapper{
    height: 1130px;
    margin: 0 auto;
} */

/* 배경 */
#backCenter {
    position: absolute;
    width: 100%;
    height: 140%;
    top: 500px;
}

#backTop {
    position: absolute;
    width: 50%;
    height: 80%;
}

/* 헤더 */
.header {
    position: relative;
    width: 1130px;
    height: 250px;
    margin: 0 auto;
}
#moa {
    position: absolute;
    width: 10%;
    left: 60px;
    top: 30px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 550;
    font-size: 3em;
    line-height: 102px;

    color: #B8ABFC;
}

/* 메뉴 */
#userMenu {
    margin: 0 auto;
    padding-right: 2em;
}
#userMenu .list_menu {
    float: right;
    line-height: 5.313em;
    white-space: nowrap;
}
#userMenu * {
    font-weight: 500;
    letter-spacing: 0.1em;
    height: 1em;
    padding: 0;
    color: #414141;
}

#userMenu .menu {
    position: relative;
    float: left;
    margin-right: 2em;
}

#userMenu .menu.center:before{
    right: 0;
}

#userMenu a {
    font-size: 1em;
}

/*아이콘*/
#iconMenu{
    margin: 0 auto;
}

#iconMenu .list_icon{
    float: right;
}

#iconMenu *{
    font-weight: 500;
    height: 1em;
    padding: 0;
}
#iconMenu .icon{
    position: relative;
    float: left;
    margin-right: 1.5em;
}

#iconMenu .icon_search{
    width: 2em;
    height: 2em;
    top: 5em;
    left: 110%;
    background: url("../image/searchIcon.png") no-repeat;
    background-size: 1.5em 1.5em;
}
#iconMenu .icon_user{
    width: 2em;
    height: 2em;
    top: 5em;
    left: 130%;
    background: url("../image/userIcon.png") no-repeat;
    background-size: 1.6em 1.5em;
}
#iconMenu .sideMenu{
    width: 2em;
    height: 2em;
    top: 5em;
    left: 150%;
    background: url("../image/menuIcon.png") no-repeat;
    background-size: 1.5em 1.5em;
}


/* container */

.container {
    width: 1130px;
    margin: 0 auto;
    padding: 15px 30px 0;
}
/*서브 제목*/

#subTitle .subTitle{
    position: relative;
    width: 100%;
    left: 5%;
    padding-bottom: 1em;

    font-style: normal;
    font-weight: 700;
    font-size: 3em;
    line-height: 3em;
    color: #414141;
}

/* main1 */
#main1 {
    position: relative;
    box-sizing: border-box;
    padding: 5%;
    padding-bottom: 7%;
    width: 85%;
    left: 5%;
    background: #FFFFFF;
    border: 2.5px solid #909090;
}

.one-container1 {
    display: flex;
    justify-content : space-between;
    align-items: flex-end;
}

#title1 {
    top: 5%;
    font-size: 1.7em;
    font-weight: bold;
}

.two-container1 {
    margin-top: 4%;
    display: flex;
    justify-content: flex-start;
    font-size: 1em;
    font-weight: 700;
    font-weight: bold;
    color: #6C6C6C;
}

#count1 {
    border-right: 0.1em solid #6C6C6C;
    padding-right: 1em;
}

#type1 {
    padding-left: 1em;
}

.three-container1{
    margin-right: 8%;
    margin-top: -8%;
    display: flex;
    justify-content:right;
}

#point1 {
    font-size: 2.3em;
    color: #B8ABFC;
}

/* main2 */
#main2 {
    box-sizing: border-box;
    padding: 3%;

    position: absolute;
    width: 65%;
    height: 25%;
    left: 17%;
    top: 95%;

    background: #FFFFFF;
    border: 2.5px solid #909090;
    box-shadow: 0px 0px 100px rgba(184, 171, 252, 0.1);
}

.one-container2 {
    display: flex;
    justify-content : space-between;
    align-items: flex-end;
}

#title2 {
    font-size: 1.7em;
    font-weight: bold;
}

.two-container2 {
    margin-top: 4%;
    display: flex;
    justify-content: flex-start;
    font-size: 1.1em;
    font-weight: bold;
    color: #6C6C6C;
}

#count2 {
    font-size: 1em;
    color: #6C6C6C;
    font-weight: 700;
    border-right: 0.1em solid #6C6C6C;
    padding-right: 1em;
    
}

#type2 {
    font-size: 1em;
    color: #6C6C6C;
    font-weight: 700;
    padding-left: 1em;
}

.three-container2 {
    margin-right: 8%;
    margin-top: -7%;
    display: flex;
    justify-content:right;
}

#point2 {
    font-size: 2.5em;
    line-height:center;
    color: #B8ABFC;
}

/* main3 */
#main3 {
    box-sizing: border-box;
    padding: 3%;

    position: absolute;
    width: 65%;
    height: 25%;
    left: 17%;
    top: 130%;

    background: #FFFFFF;
    border: 2.5px solid #909090;
    box-shadow: 0px 0px 100px rgba(184, 171, 252, 0.1);
}

.one-container3 {
    display: flex;
    justify-content : space-between;
    align-items: flex-end;
}

#title3 {
    font-size: 1.7em;
    font-weight: bold;
}

.two-container3 {
    margin-top: 4%;
    display: flex;
    justify-content: flex-start;
    font-size: 1.1em;
    font-weight: bold;
    color: #6C6C6C;
}

#count3 {
    font-size: 1em;
    color: #6C6C6C;
    font-weight: 700;
    border-right: 0.1em solid #6C6C6C;
    padding-right: 1em;
    
}

#type3 {
    font-size: 1em;
    color: #6C6C6C;
    font-weight: 700;
    padding-left: 1em;
}

.three-container3{
    margin-right: 8%;
    margin-top: -7%;
    display: flex;
    justify-content:right;
}

#point3 {
    font-size: 2.5em;
    line-height:center;
    color: #B8ABFC;
}

/* main4 */
#main4 {
    box-sizing: border-box;
    padding: 3%;

    position: absolute;
    width: 65%;
    height: 25%;
    left: 17%;
    top: 165%;

    background: #FFFFFF;
    border: 2.5px solid #909090;
    box-shadow: 0px 0px 100px rgba(184, 171, 252, 0.1);
}

.one-container4 {
    display: flex;
    justify-content : space-between;
    align-items: flex-end;
}

#title4 {
    font-size: 1.7em;
    font-weight: bold;
}

.two-container4 {
    margin-top: 4%;
    display: flex;
    justify-content: flex-start;
    font-size: 1.1em;
    font-weight: bold;
    color: #6C6C6C;
}

#count4 {
    font-size: 1em;
    color: #6C6C6C;
    font-weight: 700;
    border-right: 0.1em solid #6C6C6C;
    padding-right: 1em;
    
}

#type4 {
    font-size: 1em;
    color: #6C6C6C;
    font-weight: 700;
    padding-left: 1em;
}

.three-container4 {
    margin-right: 8%;
    margin-top: -7%;
    display: flex;
    justify-content:right;
}

#point4 {
    font-size: 2.5em;
    line-height:center;
    color: #B8ABFC;
}

/* underBar */
#underBar { 
    position: absolute;
    width: 65%;
    height: 10%;
    left: 17%;
    top: 200%;

    border-top: 0.1em solid #C6C6C6;
}

.underTab {
    position: absolute;
    width: 5em;
    height: 5em;
    right: 45%;
    top: 5em;
    background: url(../image/Rectangle\ 75.png) no-repeat;
    background-size: 3.5em 2em;
}
/*footer*/
footer {
    background-color: #B8ABFC;
    color: white;
    padding-bottom: 2em;
    padding-top: 2em;
    height: 226.302;
    position: relative;
    /* margin-top: -226.302;*/
    transform: translateY(-100%);
}

#wrapper {
    height: auto;
    min-height: 280%;
    padding-bottom: 226.302;
}
footer a {
    color: white;
    text-decoration: none;
    font-size: 1.125em;
    font-weight: 600;
}

#footer_MoA {
    font-family: 'Montserrat';
    font-size: 2.625em;
    margin: 0;
    font-weight: 600;
}

#tel {
    font-size: 2.250em;
    font-weight: 600;
}

footer .footerContainer {
    padding-left: 15%;
    /* padding-right: 10%; */
}

footer ul {
    padding-inline-start: 40px;
}

footer td:nth-child(2) {
    text-align: right;
    font-size: 0.875em;
}

footer td p {
    padding-bottom: 0.3em;
}

#info {
    padding-bottom: 2em;
    padding-top: 2em;
}

/* 설문 추가 버튼*/
#newSurvey .newItem{
    position: absolute;
    width: 8em;
    height: 8em;
    left:90%;
    top: 230%;
    
    border: 0;
    outline: 0;
    border-radius: 50%;
    background: url( "../image/newSurvey.png") no-repeat center;
    background-size: 10em 10em;
}

/* #newSurvey{
    position: sticky; 
    width: 8em;
    height: 8em;
    left:90%;
    top: 80%;
    
    border: 0;
    outline: 0;
    border-radius: 50%;
    background: url( "image/newSurvey.png") no-repeat center;
    background-size: 10em 10em;
} */

