@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR';
}
html, body {
    height: 100%;
    width: 100%;
}
.flex-container {
    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
}
ul,li{
    list-style: none;
}

.header {    
    position: relative;
    width: 100%;
    height: 180px;
    margin: 0 auto;
}

#backTop {
    position: absolute;
    /* display: block; */
    /* height: 50%; */
    /* left: 50%; */
    z-index: -100;
}

/* 로그인, 회원가입, 마이페이지 */
#userMenu {
    width: 100%;
    margin: 0 auto;
}
#userMenu .list_menu {
    float: right;
}
#userMenu * {
    font-weight: 400;
    font-size: 12px;
    /* letter-spacing: 0.1em; */
    color: #414141;
}
ul {
    display: block;
    margin-block-start: 10px;
    margin-block-end: 10px;
    /* padding-inline-start: 20px; */
}

#userMenu .menu {
    position: relative;
    float: left;
    z-index: 400;
    margin-right: 15px;
}

#userMenu:after{
    content: "";
    display: block;
    overflow: hidden;
    width: 100%;
    height: 15px;
    font-size: 0;
    text-indent: -9999px;
}
#userMenu .link:hover{
    color: #4E7FF2;
}

/* 로고 헤더 */
#headerLogo .logo img {
    display: block;
    width: 70px;
    margin: 0 auto;
    /* margin-left: 80px; */
}

/* gnb */
.gnb_main {
    width: 100%;
/*     height: 40px; */
    margin: 60px auto; 
    margin-bottom: 0;
    border-right: none;
    border-left: none;
    box-shadow: 0 1px 5px 0 rgb(32 33 36 / 20%);
    /* padding-top: 0.5px; */
}
.gnb{
    text-align: center;
    padding: 8px 0;
    margin: 0;
/*     vertical-align:middle; */
}
.gnb li {
    display: inline;
    margin: 0 15px;
}
.gnb a {
    display: inline-block;

    width: 140px;
    font-size: 14px;
    font-weight: 500;
    color: #909090;
    margin: 0;
}

.link:hover {
    color: #4E7FF2;
    font-weight: 700;
}

/* container */
#wrapper .container {
    /* min-height: 300vh; */
    width: 995px;
    margin: 70px auto;
    margin-bottom: 100px;
    padding: 0 70px;
}

footer .container {
    /* min-height: 300vh; */
    width: 970px;
    margin: 30px auto;
    padding: 0 65px;
}

/*서브 제목*/
#subTitle .subTitle{
    position: relative;

    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 40px;
    color: #414141;
}

/* main1 */
#main1 {
    display: flex !important;
    justify-content : space-between;

    height: 75px;

    /* padding: 10px 10px 10px 0; */
    margin: 15px;
    
    background: #FFFFFF;
    border: 1px solid #909090;

    border-left: 0;
}

.one-container1 {
    background-color: #4E7FF2;
    width: 80px;
    color: #FFFFFF;
    padding: 25px;
    font-size: 15px;
    font-weight: 500;
}
.two-container1 {
    color: #6C6C6C;
    padding: 25px;
    font-size: 15px;
    font-weight: 500;
}
.three-container1{
     color: #4E7FF2;
    padding: 25px;
    font-size: 15px;
    font-weight: 500;
}

.slick-slide{
    padding-right: 30px;
}

.arrow {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top:502px;
    z-index: 200;
    /* left:165px; */
}

.prev {
    margin-right: 780px;
}

.arrow img {
    width: 40px;
}

#SurveyList {
    padding:35px;
}

.flex-container-icon{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;

    margin: 5px 600px 0 0;
}

.flex-container-icon-sub1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.category1{
    font-weight: 400;
    margin-left: 22px;
    font-size: 16px;
    text-align: center;
    color: #414141;
}

.state{
    font-weight: 600;
    font-size: 18px;
    color: #414141;
}

/*footer*/
footer {
    background-color: white;
    color: #909090;

    bottom: 0;
    margin: 0 auto;
    width: 100%;
}

#wrapper {
    min-height: 100vh;
    position: relative;
    height:700px;
}

table {
    width: 100%;
}

footer a {
    color: #909090;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
}
#footer_MoA {
    font-family: 'Montserrat';
    font-size: 25px;
    margin: 0;
    font-weight: 600;
}
#from {
    font-size: 12px;
    font-weight: 500;
}
/* footer .container {
    padding: 0 auto;
} */
footer ul {
    padding-inline-start: 100px;
}
footer td:nth-child(2) {
    text-align: right;
    font-size: 10px;
}
footer td p {
    font-size: 10px;
}
#info {
    padding: 20px 0;
}