@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR';
}
html, body {
    height: 100%;
    width: 100%;
}
.flex-container {
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}

/* 배경 */
#backTop {
    position: absolute;
    z-index: -100;
}
#backBottom{
    position: absolute;
    bottom: 0;
    right: 0;
}
/* 헤더 */
.header {    
    position: relative;
    width: 100%;
    height: 180px;
    margin: 0 auto;
}

/* 로고 헤더 */
#headerLogo .logo img {
    display: block;
    width: 70px;
    margin: 0 auto;
}

/* 로그인, 회원가입, 마이페이지 */
#userMenu {
    width: 100%;
    margin: 0 auto;
}
#userMenu .list_menu {
    float: right;
}
#userMenu * {
    font-weight: 400;
    font-size: 12px;
    color: #414141;
}
ul {
    display: block;
    margin-block-start: 10px;
    margin-block-end: 10px;
}

#userMenu .menu {
    position: relative;
    float: left;
    z-index: 400;
    margin-right: 15px;
}

#userMenu:after{
    content: "";
    display: block;
    overflow: hidden;
    width: 100%;
    height: 15px;
    font-size: 0;
    text-indent: -9999px;
}

/*==========================================================*/
.container {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 28%;
    height: auto;
}

#main {
    box-sizing: border-box;
    padding-left: 8%;
    padding-top: 3%;
    height: auto;
    
    background: #FFFFFF;
    border: solid 2px #dadada;
}

.joinLogo{
    padding-top: 35px;
    padding-bottom: 15px;
    text-align: center;
    font-weight: 500;
    font-size: 22px;
    line-height: 50px;

    color: #414141;
}
/* 입력 폼 스타일 */
h3 {
    margin: 19px 0 5px;
    font-size: 11px;
    font-weight: 500;
    width: 350px;
}
.join_title {
    padding-top: 5px;
}
.box {
    display: block;
    width: 380px;
    height: 40px;
    border-bottom: solid 1.5px #dadada;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    background: #fff;
    position: relative;
}

.int {
    display: block;
    position: relative;
    width: 100%;
    border: none;
    background: #fff;
    font-size: 13px;
}

.int.name{
    width: 80%;
}

/* 중복확인 */
.id_overlap_button{
    position: absolute;
    top: 16px;
    right: 13px;
    font-size: 12px;
    font-family: 'Noto Sans KR';
    
    border: 0;
    cursor: pointer;
    color: #4383FF;
    background-color: #fff;
}

/* 메세지 8~16자 영문 대 소문자, 숫자, 특수문자를 사용하세요. */
.meg{
    margin-top: 8px;
    font-size: 10px;
    color: #4383FF;    
}
.txt{
    padding-top: 1em;
    font-size: 10px;
    padding-top: 1.5em;
    display: none;
}

/* 회원가입 버튼*/
#btnJoin {
    background: linear-gradient(91.36deg, #4E7FF2 -24.31%, #9CC2FF 130.3%);
    box-shadow: 0px -10px 40px rgba(156, 194, 255, 0.3);
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    width: 109%;
    
    padding: 15px 0;
    
    margin: 20px 0 0 -38px;
}
