* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR';
}

#fullScreen {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    background: #F9F9F9;
}

#back1 {
    position: absolute;
    width: 30%;
    height: 30%;
    left: -292px;
    top: 131.56px;
    
    background: linear-gradient(180deg, rgba(184, 171, 252, 0.4) 0%, rgba(191, 212, 255, 0.4) 100%);
    filter: blur(300px);
    transform: rotate(-48.48deg);
}

#moa {
    position: absolute;
    width: 10%;
    left: 60px;
    top: 30px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 4em;
    line-height: 102px;

    color: #B8ABFC;
}